<div class="container py-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1><%= @product.name %> - <%= @variant.sku %> - <%= @variant.color %> - <%= @variant.size %></h1>
    <%= link_to inventory_product_path(@product), class: "btn btn-outline-secondary" do %>
      <i class="bi bi-arrow-left"></i> Back
    <% end %>
  </div>
  <table class="table mt-4">
    <thead>
      <tr>
        <th>Branch</th>
        <th>Quantity</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% web_inventory = @inventories.find { |i| i.branch_id.nil? } %>
      <tr>
        <td>Web / General</td>
        <td><%= web_inventory ? web_inventory.quantity : 0 %></td>
        <td>
          <% if web_inventory %>
            <%= link_to "Edit", edit_inventory_product_product_variant_inventory_path(@product, @variant, web_inventory) %>
          <% else %>
            <%= link_to "Assign", new_inventory_product_product_variant_inventory_path(@product, @variant) %>
          <% end %>
        </td>
      </tr>
      <% @branches.each do |branch| %>
        <% inventory = @inventories.find { |i| i.branch_id == branch.id } %>
        <tr>
          <td><%= branch.name %></td>
          <td><%= inventory ? inventory.quantity : 0 %></td>
          <td>
            <% if inventory %>
              <%= link_to "Edit", edit_inventory_product_product_variant_inventory_path(@product, @variant, inventory) %>
            <% else %>
              <%= link_to "Assign", new_inventory_product_product_variant_inventory_path(@product, @variant) %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
