<% if @variant.errors.any? %>
  <div class="alert alert-danger">
    <% @variant.errors.full_messages.each do |msg| %>
      <p><%= msg %></p>
    <% end %>
  </div>
<% end %>
<%= form_with(model: [:inventory, @product, @variant]) do |f| %>
  <div>
    <%= f.label :sku %>
    <%= f.text_field :sku %>
  </div>
  <div>
    <%= f.label :color %>
    <%= f.text_field :color %>
  </div>
  <div>
    <%= f.label :size %>
    <%= f.text_field :size %>
  </div>
  <div>
    <%= f.label :material %>
    <%= f.text_field :material %>
  </div>
  <div>
    <%= f.label :price %>
    <%= f.number_field :price, step: 0.01 %>
  </div>
  <div>
    <%= f.label :stock %>
    <%= f.number_field :stock, step: 1, min: 0 %>
  </div>
  <%= f.submit @variant.new_record? ? "Create Variant" : "Update Variant" %>
<% end %>
