<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <%= link_to "Warehouse Panel", warehouse_root_path, id:"logo", class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#warehouseNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="warehouseNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <%= link_to "Warehouse1", warehouse_root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Warehouse2", warehouse_root_path, class: "nav-link" %>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
            <%= current_user.email %>
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><%= link_to "Settings", "#", class: "dropdown-item" %></li>
            <li><hr class="dropdown-divider"></li>
            <li><%= button_to "Log Out", destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
