<nav class="navbar navbar-expand-lg">
  <div class="logo">
    <%= link_to "RETAILCORE", root_path %>
  </div>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ms-auto align-items-center gap-1">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to cart_path, class: "nav-link d-flex align-items-center gap-2" do %>
            <i class="bi bi-cart"></i>
            <span>Cart</span>
          <% end %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle d-flex align-items-center gap-2" href="#" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person-circle"></i>
            <span><%= current_user.email %></span>
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><%= link_to "My Account", customer_root_path, class: "dropdown-item" %></li>
            <li><hr class="dropdown-divider"></li>
            <li><%= link_to "Orders", customer_orders_path, class: "dropdown-item" %></li>
            <li><hr class="dropdown-divider"></li>
            <li><%= link_to "Settings", customer_settings_path, class: "dropdown-item" %></li>
            <li><hr class="dropdown-divider"></li>
            <li><%= button_to "Log Out", destroy_user_session_path, method: :delete, class: "dropdown-item", form_class: "d-block" %></li>
          </ul>
        </li>
      <% else %>
        <ul class="navbar-nav ms-auto align-items-center gap-1">
          <li class="nav-item">
            <%= link_to cart_path, class: "nav-link d-flex align-items-center gap-2" do %>
              <i class="bi bi-cart"></i>
              <span>Cart</span>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "btn btn-outline" %>
          </li>
        </ul>
      <% end %>
    </ul>
  </div>
</nav>
